@model MyTour.Models.LoginModel

<div id="slidingSection">
<div id="wrapper">
    <div class="content">
        <section>
            <h2>Please Login.</h2>
            @using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) 
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true)

                <div class="login-left">
                    <div id="login-form">
                        <ol>
                            <li>
                                @Html.LabelFor(m => m.UserName)
                                @Html.EditorFor(m => m.UserName)
                                @Html.ValidationMessageFor(m => m.UserName)
                            </li>
                            <li>
                                @Html.LabelFor(m => m.Password)
                                @Html.EditorFor(m => m.Password)
                                @Html.ValidationMessageFor(m => m.Password)
                            </li>
                            <li>
                                @Html.CheckBoxFor(m => m.RememberMe)
                                @Html.LabelFor(m => m.RememberMe)
                            </li>
                        </ol>
                        <input id="submit-button" class="button gray stripe"  type="submit" value="Login" />

                        <p>
                            @Html.ActionLink("Register", "Register") if you don't have an account.
                        </p>
                    </div>
                </div>
            }
        </section>
    </div>
</div>
</div>
