@model MyTour.Models.RegisterModel
@{
    Layout = "/Views/Shared/_myTourContentLayout.cshtml";
    ViewBag.Title = "Register";
}

<head>
    <link href="/css/modern.css" rel="stylesheet">
    <link href="/css/theme-dark.css" rel="stylesheet">
    <link href="/css/modern-responsive.css" rel="stylesheet">
</head>

@*<script type="text/javascript">
    $(function()
    {
        $("label").inFieldLabels();
            
    });
        
</script>*@

<div id="slidingSection">
<div id="wrapper">
    <div class="content">
        <section>
        <h2>Create an account</h2>
        <div class="user-login">
            <div id="login-form">
                @using (Html.BeginForm()) {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary()
             
                <div class="labels">
                  <p>
                    @Html.LabelFor(p => p.UserName)
                      <br/>
                    @Html.EditorFor(p => p.UserName)
                      @Html.ValidationMessageFor(p => p.UserName)
                  </p>
                    <p>
                        @Html.LabelFor(p => p.Password)
                        <br/>
                        @Html.EditorFor(p => p.Password)
                        @Html.ValidationMessageFor(p => p.Password)
                    </p>
                    <p>
                    @Html.LabelFor(p => p.ConfirmPassword)
                      <br/>
                    @Html.EditorFor(p => p.ConfirmPassword)
                      @Html.ValidationMessageFor(p => p.ConfirmPassword)
                  </p>
                  <br/>
                  <input id="submit-button" class="button gray stripe"  type="submit" value="Register"/>
                  </div>        
                }
            </div>
        </div>
            </section>
    </div>
</div>
    </div>

