<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" type="text/css" href="~/Style/css/style.css" media="all"/>
   <link rel="stylesheet" type="text/css" href="~/Style/Css/Contact/style.css" media="all"/>
    <link rel="stylesheet" media="all" href="~/Style/type/puritan.css" />

    
@*        @Styles.Render("~/style/css")*@
@*        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<script type="text/javascript" src="~/Scripts/jquery-1.5.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.js"></script>

    <script type="text/javascript">
        $(function ()
        {
            var $form = $(this);

            $('#abt').click(function (event)
            {
                event.preventDefault();
                $('#slidingSection').effect('slide', { direction: "left", mode: "hide" }, 1500,ajaxSubmit);
                             
            });

            function ajaxSubmit()
            {

                var options = {
                                type:"POST",
                                url: "@Url.Action("About","Home")"

                };

                $.ajax(options).done(function (data)
                {
                    $('#slidingSection').replaceWith(data);

                    //$('#slidingSection').effect('slide', { direction: "left", mode: "hide" }, 1500,callback(data));
                })

            }
            function callback(data) {
                $('#slidingSection').replaceWith(data);
            }
           
        });
        </script>
<body>
    <div id="container"> 
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        <div id="logo">
            <a href="Index/Home">
            <img src="~/style/images/Art/Tour.png" alt="MyTour"/>
           </a></div>
        <!-- Logo --> 
        <!-- Begin Menu -->
      <div id="menu-wrapper">
        <div id="smoothmenu1" class="ddsmoothmenu">
          <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")</li>
            <li id="abt">@Html.ActionLink("About us", "About", "Home")</li>
            <li>@Html.ActionLink("Places", "Place", "Place")</li>
            <li><a href="contact.html">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
          </ul>
        </div>
      </div>
      <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 
  
  <!-- Body -->
  <form method="post" action="@Url.Action("About","Home")" data-otf-ajax="true" data-otf-target="#slidingSection">
  <div id="slidingSection" class="test">
  @RenderBody()
  </div>
  </form>
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
