<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" type="text/css" href="~/Style/css/style.css" media="all"/>
   <link rel="stylesheet" type="text/css" href="~/Style/Css/Contact/style.css" media="all"/>
    <link rel="stylesheet" media="all" href="~/Style/type/puritan.css" />

    
@*        @Styles.Render("~/style/css")*@
@*        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/jqueryui")
        @Scripts.Render("~/bundles/modernizr")*@
</head>

<script type="text/javascript" src="~/Scripts/jquery-1.5.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.infieldlabel.min.js"></script>
<body>
    <div id="container"> 
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        <div id="logo">
            <a href="Index/Home">
            <img src="~/style/images/Art/Tour.png" alt="MyTour"/>
           </a></div>
        <!-- Logo --> 
        <!-- Begin Menu -->
      <div id="menu-wrapper">
        <div id="smoothmenu1" class="ddsmoothmenu">
          <ul>
            <li>@Html.ActionLink("Home", "Index", "Home")
              @*<ul>
                <li><a href="index.html">Home with Cycle</a></li>
                <li><a href="index-2.html">Home with Columns</a></li>
                <li><a href="index-3.html">Home with Services</a></li>
                <li><a href="index-4.html">Home with Piecemaker</a></li>
              </ul>*@
            </li>
              <li>@Html.ActionLink("Places", "Place", "Place")
              </li>
            <li><a href="contact.html">@Html.ActionLink("Contact", "Contact", "Home")</a></li>
          </ul>
        </div>
      </div>
      <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 
  
  <!-- Body -->
  @RenderBody()
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
