<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="target-densitydpi=device-dpi, width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="description" content="My Tours">
    <meta name="author" content="RajeevKanth Mohandas">
    <meta name="keywords" content="Brisbane, tours, chaffeur, trip, comfort">
   <link href="/css/modern.css" rel="stylesheet">
    <link href="/css/theme-dark.css" rel="stylesheet">
    <link href="/css/modern-responsive.css" rel="stylesheet">
</head>
    <script src="/js/assets/jquery-1.8.2.min.js"></script>
    <script src="/js/assets/google-analytics.js"></script>
    <script src="/js/assets/jquery.mousewheel.min.js"></script>
    <script src="/js/assets/github.info.js"></script>
    <script src="/js/modern/tile-slider.js"></script>
    <script src="/js/modern/start-menu.js"></script>
    <script src="/js/modern/tile-drag.js"></script>

<body>
    <div id="container"> 
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
@*        <div id="logo">
            <a href="/Index/Home">
            <img src="~/style/images/Art/Tour.png" alt="MyTour"/>
           </a></div>*@
        @*<!-- Logo -->*@ 
        <!-- Begin Menu -->
@*      <div id="menu-wrapper">
        <div id="smoothmenu1" class="ddsmoothmenu">
          <ul>
            <li id="Home">@Html.ActionLink("Home", "Index", "Home")</li>
            <li id="Admin">@Html.ActionLink("Admin", "Index", "Admin")</li>
            <li id="About">@Html.ActionLink("About us", "About", "Home")</li>
            <li id="Place">@Html.ActionLink("Places", "Place", "Place")</li>
            <li id="Bookings">@Html.ActionLink("Bookings", "Booking", "Index")</li>
              <li id="Contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
              @if (Request.IsAuthenticated)
              {
                  <li>@Html.ActionLink("LogOff", "LogOff", "Account")</li>
              }

          </ul>
        </div>
      </div>*@
      <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 
  
  <!-- Body -->
  <div id="slidingSection">
  @RenderBody()
  </div>
  
</div>
  @RenderSection("scripts", required: false) 
</body>
 

</html > 
    