<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
     <link rel="stylesheet" type="text/css" href="~/Style/css/style.css" media="all"/>
   <link rel="stylesheet" type="text/css" href="~/Style/Css/Contact/style.css" media="all"/>
    <link rel="stylesheet" media="all" href="~/Style/type/puritan.css" />

</head>

<script type="text/javascript" src="~/Scripts/jquery-1.5.min.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.cycle.all.min.js"></script>
<script type="text/javascript" src="~/Scripts/ddsmoothmenu.js"></script>
<script type="text/javascript" src="~/Scripts/scripts.js"></script>
<script type="text/javascript" src="~/Scripts/jquery.infieldlabel.min.js"></script>
<script type="text/javascript" src="/Scripts/jquery-ui-1.8.20.js"></script>


    <script type="text/javascript">
        $(function ()
        {
         
            $('#Home').click(function (event) {
                event.preventDefault();
                navigate("/Home/Index");
            });

            $('#About').click(function (event) {
                event.preventDefault();
                navigate("/Home/About");
            });

            $('#Contact').click(function (event) {
                event.preventDefault();
                navigate("/Home/Contact");
            });

            $('#Place').click(function (event) {
                event.preventDefault();
                navigate("/Place/Index");
            });

            $('#Bookings').click(function (event) {
                event.preventDefault();
                navigate("/Booking/Index");
            });



            function navigate(uri)
            {
            var options = {
                          url: uri
                          };

            $.ajax(options).done(function (data) {
                    $('#slidingSection').effect('slide', { direction: "left", mode: "hide" }, 500,
                        function ()
                        {
                            $('#slidingSection').replaceWith(data);
                            $('#slidingSection').hide();
                            $('#slidingSection').fadeIn(1500);
                             });
                })
             
            };

        });
</script>

<body>
    <div id="container"> 
  <!-- Begin Header Wrapper -->
  <div id="page-top">
    <div id="header-wrapper"> 
      <!-- Begin Header -->
      <div id="header">
        <div id="logo">
            <a href="/Index/Home">
            <img src="~/style/images/Art/Tour.png" alt="MyTour"/>
           </a></div>
        <!-- Logo --> 
        <!-- Begin Menu -->
      <div id="menu-wrapper">
        <div id="smoothmenu1" class="ddsmoothmenu">
          <ul>
            <li id="Home">@Html.ActionLink("Home", "Index", "Home")</li>
            <li id="About">@Html.ActionLink("About us", "About", "Home")</li>
            <li id="Place">@Html.ActionLink("Places", "Place", "Place")</li>
            <li id="Bookings">@Html.ActionLink("Bookings", "Booking", "Index")</li>
            <li id="Contact">@Html.ActionLink("Contact", "Contact", "Home")</li>
          </ul>
        </div>
      </div>
      <!-- End Menu --> 
      </div>
      <!-- End Header --> 
    </div>
  </div>
  <!-- End Header Wrapper --> 
  
  <!-- Body -->
  <div id="slidingSection">
  @RenderBody()
  </div>
  
</div>
    @RenderSection("scripts", required: false)
</body>
</html>
